{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}

    Home
{% endblock title %}
{% block content %}
    <div class="d-flex align-items-start">
        <div class="d-flex flex-column align-items-center col-md-8 ">
            {% for post in posts %}
                <div class="card bg-dark text-white col-md-10 mb-3">
                    <div class="card-header h4 text-center"><a
                            href="{% url "core:post" post.id post.slug %}">{{ post.title }}</a></div>
                    {% thumbnail post.image "350x350" as im %}
                        <img class="card-img-top m-2" src="{{ im.url }}" alt="{{ post.title }}" width={{ im.width }}
                                height="250" style="object-fit: contain">
                    {% endthumbnail %}

                    <div class="card-body text-center">{{ post.body }}</div>
                    <div class="card-footer">by <a
                            href="{% url 'accounts:user_profile' post.user.username %}">@{{ post.user }}</a><small
                            class="float-right">{{ post.updated }}</small></div>
                </div>
            {% empty %}
                <h2>No post Exists!</h2>
            {% endfor %}
        </div>
        <div class="col-md-2 card bg-dark text-white">
            <span class="card-header">Suggestions For You</span>
            <div class="card-body">
                {% for user in users %}
                    {% if user.username != request.user.username %}
                        <a href="{% url "accounts:user_profile" user.username %}">
                            {% thumbnail user.profile.image "25x25" crop="center" as im %}
                                <img class="rounded-circle"
                                     src="{{ im.url }}"
                                     alt="Card image cap" width={{ im.width }}>
                            {% endthumbnail %}
                             {{ user.username }}</a>
                    {% else %}
                        <span>No One</span>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}