{% load thumbnail %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-nav align-items-center">
            <a class="nav-link" href="{% url "core:home" %}"><span class="lead">BlueGram</span></a>


        </div>
        <div class="navbar-nav ml-auto  align-items-center">
            {% if request.user.is_authenticated %}
                {% thumbnail request.user.profile.image "25x25" crop="center" as im %}
                    <a class="nav-link"
                       href="{% url "accounts:user_profile" request.user.username %}"><img class="rounded-circle"
                                                                                           src="{{ im.url }}"
                                                                                           width={{ im.width }}></a>
                {% endthumbnail %}
                <a class="nav-link" href="{% url "core:home" %}"><i class="fas fa-home"></i></a>
                <a class="nav-link" href="{% url "accounts:user_logout" %}"> <i class="fas fa-sign-out-alt"></i></a>
            {% else %}
                <a class="nav-link" href="{% url "accounts:user_login" %}">Login</a>
                <a class="nav-link" href="{% url "accounts:user_register" %}">Register</a>
            {% endif %}

            {% if request.user.is_admin %}
                <a class="nav-link" href="{% url 'admin:index' %}"><i class="fas fa-users-cog"></i></a>
            {% endif %}

        </div>
    </div>
</nav>